<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About</title>
         <!-- Core theme CSS (includes Bootstrap) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
 
        <link rel="stylesheet" href="/static/css/styles.css">

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold" href="#">Weather Data</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="cloudiness.html">Cloudiness</a></li>
                      <li><a class="dropdown-item" href="comparisons.html">Comparisons</a></li>
                      <li><a class="dropdown-item" href="data.html">Data</a></li>
                      <li><a class="dropdown-item" href="home.html">Home</a></li>
                      <li><a class="dropdown-item" href="humidity.html">Humidity</a></li>
                      <li><a class="dropdown-item" href="temp.html">Temp</a></li>
                      <li><a class="dropdown-item" href="wind.html">Wind</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Data</h1>
                <!-- <p class="lead">A complete project boilerplate built with Bootstrap</p>
                <p>Bootstrap v5.0.2</p> -->
              </div>
            <!-- <div class="container"> -->
              <div class="table-responsive-md">
                <table class="table">
                  ...
                </table>
              </div>
          <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Spencer Fox</h5>
                <img class="card-img-top" src="https://64.media.tumblr.com/f9d79689a63ce7bfd1be6a015f7fb56f/tumblr_nuhifjCt1c1sphazho5_500.gifv">
                <a href="https://www.linkedin.com/in/spencer-fox-0506/" class="btn btn-primary">Spencer's LinkedIn</a>
                <a href="https://github.com/spencerfox06" class="btn btn-primary">Spencer's GitHub</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Derek Toro</h5>
                <div class="tenor-gif-embed" data-postid="5742026" data-share-method="host" data-width="100%" data-aspect-ratio="1.0212765957446808"><a href="https://tenor.com/view/tauros-pokemon-gif-5742026">Tauros Pokemon GIF</a> from <a href="https://tenor.com/search/tauros-gifs">Tauros GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                <a href="https://www.linkedin.com/in/derek-toro-880b13107" class="btn btn-primary">Derek's LinkedIn</a>
                <a href="https://github.com/1der4k" class="btn btn-primary">Derek's GitHub</a>
              </div>
            </div>
          </div>          
          <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Kelsey Vermeer</h5>
                <div style="padding-top:100.000%;position:relative;"><iframe src="https://gifer.com/embed/3qfg" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div><p><a href="https://gifer.com">via GIFER</a></p>
                <a href="https://www.linkedin.com/in/kelsey-vermeer-a61670101" class="btn btn-primary">Kelsey's LinkedIn</a>
                <a href="https://github.com/kelseyv4" class="btn btn-primary">Kelsey's GitHub</a>
              </div>
            </div>
          </div>
        </div>
        <a href="https://github.com/christinecha/choreographer-js" > Color adapting backround (Home page) made possible by the Choreographer library. More information can be found here</a>
        <a href="https://www.kaggle.com/rounakbanik/pokemon " > Dataset retrieved from Kaggle and can be found here</a>
                             

    </body>
</html>